<!-- Form-->
<div class="form">
    <div class="form-toggle"></div>
    <div class="form-panel one">
        <div class="form-header">
            <h1>Account Login</h1>
        </div>
        <div class="form-content">
            <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input 
                    type="email"
                    id="email"
                    class="form-control"
                    ngModel
                    name="email"
                    required
                    email /></div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" 
                    type="password"
                    id="password"
                    class="form-control"
                    ngModel
                    name="password"
                    required
                    minlength="6" /></div>
                <div class="form-group">
                    <label class="form-remember">
                        <input type="checkbox"/>Remember Me</label><a class="form-recovery" href="#">Forgot Password?</a></div>
                <div class="form-group">
                    <button type="submit">Log In</button></div>
            </form>
        </div>
    </div>
    <div class="form-panel two">
        <div class="form-header">
            <h1>Register Account</h1>
        </div>
        <div class="form-content">
            <form>
                <div class="form-group"><label for="username">Username</label><input id="username" type="text" name="username" required="required" /></div>
                <div class="form-group"><label for="password">Password</label><input id="password" type="password" name="password" required="required" /></div>
                <div class="form-group"><label for="cpassword">Confirm Password</label><input id="cpassword" type="password" name="cpassword" required="required" /></div>
                <div class="form-group"><label for="email">Email Address</label><input id="email" type="email" name="email" required="required" /></div>
                <div class="form-group"><button type="submit">Register</button></div>
            </form>
        </div>
    </div>
</div>
<div class="pen-footer"><a href="https://www.behance.net/gallery/30478397/Login-Form-UI-Library" target="_blank"><i class="material-icons">arrow_backward</i>View on Behance</a><a href="https://github.com/andyhqtran/UI-Library/tree/master/Login%20Form" target="_blank">View on Github<i class="material-icons">arrow_forward</i></a></div>