<p>{{newPost}}</p>

<mat-card>
  <label for="">Comment</label>
  <textarea class="form-control" matInput [(ngModel)]="enteredValue" name="" id="" cols="30" rows="10"> 
  </textarea>
  <mat-form-field>
    
    <button mat-raised-button type="submit"
      (click)='onAddPost()'>Submit</button>
  </mat-form-field>
</mat-card>

<hr>
<div class="form-group">
    <label for="">Comment</label>
    <br>
    <textarea class="form-control"
    [(ngModel)]="enteredValue" 
    name="" 
    id="" 
    rows="6" 
   
    #postInput ></textarea>
    <hr>
    <button type="submit"
    (click)='onAddPost()'>Submit</button>
    
  </div>



